html, body{
  height: 100%;
}
.header{
  padding: 12px;
  background: #ffffff;
  color: white;
  font-size: 12px;
}
.BallsTableTd{
  width: 15%;
  text-align: center;
}
.top-body {
  height: 70vh;
};
.button-header {
  background-color: #505050;
  border: none;
  margin: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold
}
.button-header:hover {
  background-color: #383636;
  color: white;
}
.button-header:focus {
  outline: none;
  border: none;
}
.ResearchDiv{
  width: 30%;
  height:100%;
  overflow: auto;
  word-wrap: break-word;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #b3b3b3;
  color: white;
  text-align: center
}

.table-balls-innactive{
 border:1px solid black;
 width:50% !important;
 text-align: center;
 margin:5% 10% 5% 10%;
}
.table-balls-active{
  border:1px solid black;
  margin:5% 10% 5% 10%;
  width:70% !important;
  height: 15%;
}
.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.SettingsResearch{
  margin: 5%;
  margin-top: 0;
  margin-bottom: 5%
}